name: Branch Usage Warning

on:
  push:
    branches:
      - 'feature/*'

jobs:
  warn-direct-push:
    runs-on: ubuntu-latest
    steps:
      - name: Warning Message
        run: |
          echo "::warning title=Rule Violation::main issueブランチ (feature/*) への直接のコミットは非推奨です．sub issueブランチ (subfeature/*) を作成してPRを出してください．"
